.my-tasks-con {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;

    .task-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .task-content {
        
        .menu-bar {
            border-bottom: 1px solid #e0e0e0;

            &-item {
                display: flex;
                align-self: center;
                gap: 20px;
                font-size: 14px;

                button {
                    border: none;
                    background: none;
                    cursor: pointer;
                    padding: 5px 0;
                
                }

                .active-item {
                    font-weight: 600;
                    border-bottom: 2px solid #9189ED;
                }

                .normal-item {
                    font-weight: 400;
                    color: #888888;
                }
            }
        }

        .task-info-con {
            padding: 20px;

            &-cards {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
            &-item-card {
                display: flex;
                align-items: center;
                gap: 10px;

                .task-icon {
                    background-color: rgb(202, 238, 202);
                    padding: 10px;
                    border-radius: 8px;
                    width: 40px;
                    height: 40px;
                }

                .title-description {
                    display: flex;
                    flex-direction: column;
                    width: 250px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;

                    .title {
                        font-size: 14px;
                        font-weight: 500;
                    }

                    .description {
                        color: #888888;
                        font-size: 12px;
                    }
                }

                .avatar-con {
                    margin: 0 60px;
                    width: 40px;
                    height: 40px;
                }

                .progress-con {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .progress-info {
                        display: flex;
                        justify-content: space-between;
                        font-weight: 600;
                        font-size: 12px;
                    }

                    .progress-bar {
                        width: 100%;
                        height: 5px;
                    }
                }
            }
        }
    }
}