.button {
    background-color: #9890F2;
    padding: 5px 15px;
    color: white;
    border-radius: 20px;
    border: 0;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}